@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body {
    background-color: black;
    color: white;
    padding: 2rem;
}

ul {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}